body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.ramen-image {
    width: 100px;
    height: 100px;
}
#ramen-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 8px;
}
/*style for ramen images*/
.ramen-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
/*hover effect for ramen images*/
.ramen-image:hover {
  transform: scale(1.1);
}
/*responsive design*/
@media (max-width: 768px) {
  #ramen-container {
    padding: 10px;
  }
  .ramen-image {
    width: 100px;
    height: 100px;
  }
}